html {
  box-sizing: border-box;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

*{
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
}

@font-face {
  font-family: 'Corben-Bold';
  src: url('fonts/Corben-Bold.woff2') format("woff2"),
       url('fonts/Corben-Bold.woff') format('woff'),
       url('fonts/Corben-Bold.ttf') format('ttf');
  font-weight: 700;
  font-style: bold;
  font-display: swap;
}

@font-face {
  font-family: 'Playwrite';
  src: url('fonts/Playwrite-degrund.woff2') format("woff2"),
       url('fonts/Playwrite-degrund.woff') format('woff'),
       url('fonts/Playwrite-degrund.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: 'Playwrite', serif;
  display: flex;
  flex-direction: column;
  height: 100%;

  background-image: url('media/img/back.jpg');
}

main {
  flex-grow: 1;
}
.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1200px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.player__inner {
  display: flex;
  margin-top: 10px;
  justify-content: center;
  border: 1px solid #ccc;
}
.image {
  width: 300px;
  height: 300px;
  object-fit: cover;
}
.player__inner-controls {
  padding: 20px 25px;
  display: flex;
  flex-direction: column;
  background-color: #f9f9f9;
  opacity: 0.9;
  border: 1px solid #3f3b59;
}
.artist-name {
  font-family: 'Corben-Bold';
  font-size: 20px;
  margin-bottom: 10px;
}
.track-name {
  font-size: 16px;
  margin-bottom: 25px;
}
.audio {
  display: none;
}
.track-time {
  display: flex;
  justify-content: space-between;
  font-size: 10px;
  margin-bottom: 5px;
}

.progress-container {
  width: 100%;
  margin-bottom: 40px;
  cursor: pointer;
}
.progress-bar {
  width: 100%;
  -webkit-appearance: none; 
  appearance: none;
  height: 14px;
  background-color: #3f3b59;
  border-radius: 4px;
}
.progress-bar::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 16px;
  height: 16px;
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 50%;
  cursor: pointer;
}
.progress-bar::-moz-range-thumb {
  width: 16px;
  height: 16px;
  background-color: #fff;
  border: 2px solid #000;
  border-radius: 50%;
  cursor: pointer;
}


.buttons {
  display: flex;
  align-items: center;
  column-gap: 15px;
}
#play-btn {
  width: 60px;
  height: 60px;
  
  background-position: center center;
  background-repeat: no-repeat;
  
  border-radius: 100%;
  border: 2px solid #ccc;
  
  
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
  cursor: pointer;
}
.pause {
  background-color: #d1caff;
  background-image: url('media/icons/play.svg');
}
.pause:hover {
  background-color: #3f3b59;
}
.play {
  background-color: #3f3b59;
  background-image: url('media/icons/pause.svg');
}
.play:hover {
  background-color: #d1caff;
}
.button {
  width: 80px;
  height: 30px;
 
  background-position: center center;
  background-repeat: no-repeat;
  
  transition: all 0.3s ease;
  cursor: pointer;
}
.next {
  background-image: url('media/icons/next.svg');
}
.prev {
  background-image: url('media/icons/prev.svg');
}
.prev:hover {
  transform: scale(1.1);
}
.next:hover {
  transform: scale(1.1);
}

.playlist {
  margin: 15px 0;
}
.playlist__title {
  margin-bottom: 5px;
  color: #fff;
}
.playlist__items {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 600px;
  border: 2px solid #ccc;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}
.playlist__item {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: #d1caff;
  background-color: #000;
  opacity: 0.9;
  color: #fff;
  height: 70px;
  padding: 20px;
  width: 100%;
  
  border-bottom: 1px solid #3f3b59;
  transition: all 0.1s ease;
}
.playlist__item:hover .playlist__item-img {
  opacity: 0.6;
}
.playlist__item:hover .playlist__item-info {
  opacity: 0.6;
}
.playlist__item:hover .playlist__item-duration {
  opacity: 0.6;
}
.playlist__item--active {
  background-color: #3f3b59;
}
.playlist__item--active:hover .playlist__item-img {
  opacity: 1;
}
.playlist__item--active:hover .playlist__item-info {
  opacity: 1;
}
.playlist__item--active:hover .playlist__item-duration {
  opacity: 1;
}
.playlist__item-info {
  display: flex;
  align-items: center;
}
.playlist__item-img {
  width: 40px;
  height: 40px;
  display: inline;
  margin-right: 20px;

  transition: all 0.1s ease;
}
.playlist__item-duration {
  font-size: 14px;
}

.footer-inner {
  background-color: #d1caff;

  border: 2px solid #ccc;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);

  padding: 10px 15px;

  width: 600px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  opacity: 0.9;
}
.footer-inner__information {
  display: flex;
  align-items: center;
}
.footer-inner__information-link {
  padding-right: 20px;
}
.footer-inner__github-img {
  width: 50px;
  height: 50px;
}
.footer-inner__school-img {
  width: 45px;
  height: 45px;
}

@media (max-width: 650px) {
  .player__inner {
    flex-direction: column;
  }
  .playlist {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .playlist__items {
    width: auto;
  }
  .playlist__item {
    font-size: 14px;
    padding: 20px 10px;
  }
  .playlist__item-duration {
    padding: 0 0 0 10px;
    font-size: 10px;
  }
  .footer-inner {
    font-size: 15px;
    width: 100%;   
  }
}

@media (max-width: 350px) {
  .container {
    padding: 0;
  }
  .playlist__title {
    margin-left: 5px;
  }
}